.page.secondary {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}
.page.secondary .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}


.page.secondary .page-title {
	left: 66px;
	top: 100px;
	width: 328px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #FCFCFC;
	line-height: 72px;
	/*background: url('../images/menubar_highlight.png') no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	background-size: cover;
	background-color: #015b75;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	font-weight: bold;
}

.page.secondary #header {
	width: 100%;
	height: 145px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.secondary #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.secondary #header #heading1 p {
	color: #45466D;
}

.page.secondary #header #cboard1 {
	height: 110px;
	width: 440px;
	top: 50px;
	left: 460px;
	z-index: 0;
	text-align: left;
	position: absolute;
	display: inline-block;
	float: left;
	background-size: cover;
	background-color: #85B7D9;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	border-color: #008000;
	box-shadow: 1px 4px 8px 0px #353535;
}

.page.secondary #header #cboard1 p {
	color: #F8FBF9;
	padding-top: 12px;
	padding-left: 40px;
	font-size: 22px;
	line-height: 26px;
}

.page.secondary #header #cboard2 {
	height: 110px;
	width: 410px;
	top: 50px;
	left: 860px;
	z-index: 0;
	text-align: left;
	position: absolute;
	display: inline-block;
	float: left;
	background-size: cover;
	background-color: #5EA083;
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	border-color: #008000;
	box-shadow: 1px 4px 8px 0px #353535;
}

.page.secondary #header #cboard2 p {
	color: #F8FBF9;
	padding-top: 12px;
	padding-left: 40px;
	font-size: 22px;
	line-height: 26px;
}

.page.secondary #header #heading2 {
	width: 340px;
	height: 56px;
	top: 162px;
	left: 60px;
	position: absolute;
	float: left;
	z-index: 1;
	/*border: 4px solid rgba(240,244,245,1.00);*/
	/*background: -webkit-linear-gradient(#6ab1c5, #0088b1);*/
	background-color: #64aa5e;
	box-shadow: 1px 4px 8px 0px #353535;
	border-radius: 8px;
}	

.page.secondary #header #heading2 p {
	color: #F8F9F9;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
	font-weight: 600;
	text-shadow: 2px 2px 12px #000000;
}

div.datetime {
    width: 420px;
    height: 30px;
    top: 52px;
    left: 824px;
    position: absolute;
    display: inline-block;
    float: left;
    text-align: right;
}

div.datetime text, p.datetime text {
    line-height: 28px;
    color: #04090E;
    font-weight: 400;
}


.page.secondary #content {
	width: 100%;
	height: 575px;
	top: 145px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;
}

.page.secondary #menu {
	width: 100%;
	height: 100%;
}

.page.secondary #menu .major {
	position: absolute;
	width: 330px;
	height: 472px;
	left: 66px;
	top: 66px;
	padding: 35px 0 0 0;
	/*background: #333230;*/
	box-shadow: 2px 2px 6px 0px #0C1E32;
	background-color: rgba(56,76,101,1.00);
	/*border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;*/
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: .5px;
	border-radius: 8px;
	background-color: #0088b1;
}
.page.secondary #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	background-color: rgba(48,138,200,0.20);
	border-radius: 8px;
	
}
.page.secondary #menu .major a.selected {
	background: #d08327;
	border-radius: 8px;

}

.page.secondary #menu .minor {
	position: absolute;
	width: 810px;
	height: 380px;
	top: 42px;
	left: 401px;
}

.page.secondary #menu .minor .arrow-button {
	display: none;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 434px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.page.secondary #menu .minor .arrow-button.sub-page-prev {	
	left: 10px;
}

.page.secondary #menu .minor .arrow-button.sub-page-next {
	right: 50px;
}

.page.secondary #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.secondary #menu .minor .arrow-left {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.secondary #menu .minor .arrow-right {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.page.secondary #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.page.secondary #menu .minor .back-tab img {
	width: 90%;
	height: 90%;
	margin: 40px 0px 0px 25px;
}

.page.secondary #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 810px;
}

.page.secondary #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-header {
	margin-top: -20px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	padding-left: 20px;	/*color: #FFFF92;*/
}

.page.secondary #menu .minor .sub-footer {
	position: absolute;
	height: 50px;
	color: #F5F2A2;
	text-align: center;
	top: 450px;
	left: 80px;
	text-shadow: 2px 2px 6px #000000;
}

.page.secondary #menu .minor .sub-content {
    margin-top: -52px;
	height: 530px;
	width: 880px;
    overflow: hidden;
    position: relative;
}

.page.secondary #menu .minor .sub-content p {
	margin-bottom: 15px;
	line-height: 28pt;
}

.page.secondary #menu .minor .sub-content li {
	margin-bottom: 10px;
	margin-left: 20pt;
}
.page.secondary #menu .minor .sub-content .sub-image1 img
,.page.secondary #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.page.secondary #menu .minor .sub-content.layout1 {
	
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-left: 15px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.page.secondary #menu .minor .sub-content.layout2 {
	
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: right;
	width: 260px;
	padding-top: 5px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.page.secondary #menu .minor .sub-content.layout2b {
	
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text1{
	display: inline-block;
	float: left;
	width: 620px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	/*float: right;*/
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 20px;
	padding-left: 0px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.page.secondary #menu .minor .sub-content.layout3 {
	
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.secondary #menu .minor .sub-content.layout4 {
	
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.page.secondary #menu .minor .sub-content.layout5 {
	
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1{
	/*display: none;*/
	display: block;
	position: absolute;
	height: 250px;
	width: 560px;
	top: 20px;
	left: 10px;
	padding: 15px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text2{
	display: block;
	position: absolute;
	height: 40px;
	width: 400px;
	top: 485px;
	left: 475px;
	padding: 0px;
	z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
	opacity: 1.00;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}

/* Layout 5b, text overlays image - Careboard */
.page.secondary #menu .minor .sub-content.layout5b {
	
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text1{
	/*display: none;*/
	display: block;
	position: absolute;
	height: 225px;
	width: 560px;
	top: 20px;
	left: 50px;
	padding: 15px;
	z-index: 1;
	color: #030303;
	line-height: 1.2;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-text2{
	display: block;
	position: absolute;
	height: 40px;
	width: 300px;
	top: 24px;
	left: 62px;
	padding: 0px;
	z-index: 1;
	color: #FDFDFD;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-image1{
	width: 100%;
	height: 100%;
	opacity: 1.00;
}

.page.secondary #menu .minor .sub-content.layout5b .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.page.secondary #menu .minor .sub-content.layout6 {
	
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}

/* Layout 7, Text with Menu return text on bottom */
.page.secondary #menu .minor .sub-content.layout7 {

}

.page.secondary #menu .minor .sub-content.layout7 .sub-text1 {
    /*display: none;*/
    display: block;
    position: absolute;
    height: 225px;
    width: 810px;
    top: 20px;
    left: 10px;
    padding: 15px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-text2 {
    display: block;
    position: absolute;
    height: 40px;
    width: 410px;
    top: 490px;
    left: 450px;
    padding: 0px;
    z-index: 1;
}
.page.secondary #menu .minor .sub-content.layout7 .sub-text2 p{
    margin-bottom: 5px;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image2 {
    display: none;
}
/* Layout 8, Text with second column of text on right*/
.page.secondary #menu .minor .sub-content.layout8 {

}

.page.secondary #menu .minor .sub-content.layout8 .sub-text1 {
    /*display: none;*/
	display: inline-block;
	float: left;
    position: absolute;
    height: 225px;
    width: 760px;
    top: 20px;
    left: 10px;
    padding: 15px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout8 .sub-text2 {
	display: inline-block;
    position: absolute;
    height: 40px;
    width: 460px;
    top: 186px;
    left: 360px;
    padding: 0px;
    z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout8 .sub-image1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout8 .sub-image2 {
    display: none;
}
